* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &:focus {
    outline: 0;
  }
}
.navbar {
  font-size: 18px;
  padding: 10px;
  margin: 0;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-left: 20px;
}
.main-nav {
  list-style-type: none;
  display: none;
}
.main-nav li {
  text-align: center;
  margin: 25px auto;
}
.expanded {
  display: block;
}
.navbar-toggle {
  position: absolute;
  top: 22.5px;
  right: 20px;
  cursor: pointer;
  color: #010101;
  font-size: 24px;
}
.sign-in {
  padding-right: 20px;
}
.nav-links,
.logo {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
  padding: 10px;
  &:hover {
    color: hsl(0, 0%, 10%);
  }
}
.main-nav-non-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-in {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
}
.active {
  color: hsl(0, 0%, 10%);
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav-non-auth {
    width: 100vw;
  }
  .main-nav li {
    margin: 0px 20px;
  }

  .logo {
    justify-content: flex-start;
  }
  .navbar-toggle {
    display: none;
  }
}
