@import "../../style/colors.scss";

.navbar {
  position: fixed;
  background-color: $color-dark-blue;
  transition: width 200ms ease-in-out;
  .main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    .nav-item {
      width: 5rem;
    }
    .link-text {
      display: none;
    }
    .nav-link {
      display: flex;
      align-items: center;
      height: 5rem;
      width: 5rem;
      color: white;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    .main-nav {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      .nav-item {
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
    .main-nav {
      flex-direction: column;
      .nav-item {
        width: 100%;
        &:last-child {
          margin-top: auto;
        }
      }
    }
    &:hover {
      width: 16rem;
      .link-text {
        display: block;
      }
    }
  }
}
