@import "../../style/colors.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &:focus {
    outline: 0;
  }
}
.navbar {
  font-size: 18px;
  padding: 5px;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 5px 2px #00000014;
  .logo {
    display: inline-block;
    font-size: 20px;
    color: $color-dark-blue;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    justify-content: flex-start;
  }
  .main-nav {
    list-style-type: none;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .nav-links {
      text-decoration: none;
      color: $color-dark-gray;
      &.active {
        color: $color-blue;
      }
      &:hover {
        color: $color-gray-text;
      }
    }
    li {
      text-align: center;
      margin: 0px 5px;
      padding: 5px;
    }
    .btn-sign-out {
      text-decoration: none;
      color: $color-dark-gray;
      background: none;
      border: none;
      padding: 0px;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      &:hover {
        color: $color-gray-text;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 10px;
    .logo {
      margin-left: 5px;
      font-size: 24px;
    }
  }
}
