$color-gray: #e3eaed;
$color-dark-blue: #253c78;
$color-dark-blue-darker: #0e162c;
$color-blue: #829fe3;
$color-dark-gray: #2d3142;
$color-gray-text: #bfc0c0;
$color-error: #ee6352;
$color-link-blue: #5772b1;
$color-title-blue: #3b5491;
$color-gray-selected-input: #d3dee3;
$color-strong-blue: #4392f1;
$color-red: #bd9391;
$color-green: #94ae89;
