@import url("https://fonts.googleapis.com/css?family=Germania+One&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Germania One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    318.32deg,
    hsl(195, 90%, 73%) 0%,
    hsl(195, 90%, 81%) 55%,
    hsl(195, 90%, 78%) 100%
  );
}
